{%extends "dashboard/base.html" %}

{%block content%}
            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Lists of categories</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 -->
                        <div class="row">
                            <div class='col-3'></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-6">
                                <div class="row">
                                   
                                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">List of tables</h3>
                                    </div>
                                    <div class="card-body">
                                        <a href="{% url 'dashboard:category_create' %}"><button id="table2-new-row-button" class="btn btn-primary mb-4"> Add new category</button></a>
                                        <div class="table-responsive">
                                            <table class="table table-bordered border text-nowrap mb-0" id="new-edit">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
 
                                                    <th name="bstable-actions">Actions</th></tr>
                                                </thead>
                                                <tbody>
                                                    {%for category in categories%}
                                                    <tr>
                                                    <td style="font-size: 18px;">{{category.name}}</td>
                                                    <td name="bstable-actions"><div class="btn-list">
                                                        <a style="margin-right: 1vw;" href="{%url 'dashboard:category_update' category.id%}">
                                                            <button id="bEdit" type="button" class="btn btn-success">
                                                                <span class="fe fe-edit"> CHANGE THE CATEGORY</span>
                                                            </button>
                                                        </a>   
                                                        
                                                        <a href="{% url 'dashboard:category_delete' category.id %}"><button id="bDel" type="button" class="btn  btn btn-danger">
                                                            <span class="fe fe-trash-2"> Delete </span>
                                                        </button></a>

                                                        <button id="bAcep" type="button" class="btn  btn-sm btn-primary" style="display:none;">
                                                            <span class="fe fe-check-circle"> </span>
                                                        </button>
                                                        <button id="bCanc" type="button" class="btn  btn-sm btn-danger" style="display:none;">
                                                            <span class="fe fe-x-circle"> </span>
                                                        </button>
                                                    </div></td></tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-body d-flex justify-content-center">
                                
                                            <ul class="pagination mg-b-0 page-0 ">
                                                {%if categories.has_previous%}
                                                <li class="page-item">
                                                    <a aria-label="Last" class="page-link" href="?page=1"><i class="fa fa-angle-double-left"></i></a>
                                                </li>
                                                <li class="page-item">
                                                    <a aria-label="Next" class="page-link" href="?page={{categories.previous_page_number}}"><i class="fa fa-angle-left"></i></a>
                                                </li>
                                                
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{categories.previous_page_number}}">{{categories.previous_page_number}}</a>
                                                </li>
                                                {%endif%}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">{{categories.number}}</a>
                                                </li>
                                                {%if categories.has_next%}
                                                <li class="page-item">
                                                    <a class="page-link hidden-xs-down" href="?page={{categories.next_page_number}}">{{categories.next_page_number}}</a>
                                                </li>
                                                
                                                
                                                <li class="page-item">
                                                    <a aria-label="Next" class="page-link" href="?page={{categories.next_page_number}}"><i class="fa fa-angle-right"></i></a>
                                                </li>
                                                <li class="page-item">
                                                    <a aria-label="Last" class="page-link" href="?page={{categories.paginator.num_pages}}"><i class="fa fa-angle-double-right"></i></a>
                                                </li>
                                                {%endif%}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-1 END -->

                        <!-- ROW-2 -->
                        <div class="row">
                            <!-- COL END -->
                            <!-- COL END -->
                        </div>
                        <!-- ROW-2 END -->

                        <!-- ROW-3 -->

                        <!-- ROW-3 END -->

                        <!-- ROW-4 -->
                        <!-- ROW-4 END -->
                    </div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->
{%endblock%}