{% extends 'dashboard/base.html' %}
{% block content %}
<!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Yangliklar</h1>
                    <a href="{%url 'dashboard:overall_excel'%}"><button class="btn btn-primary">Excel generate</button></a>
                </div>
                <!-- PAGE-HEADER END -->
                
                <div class="card-body">
                   <div class="table-responsive">
                            <table class="table border text-nowrap text-md-nowrap mb-0">
                                <thead class="table-primary">
                                    <tr>
                                        <th>No</th>
                                        <th>Mahsulot</th>
                                        <th>Kirim</th>
                                        <th>Chiqim</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for i in data%}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{i.product.name}}</td>
                                        <td>{{i.all_income}}</td>
                                        <td>{{i.all_outcome}}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                </div>
                {% for i in enters %}
                <div class="modal fade" id="modalupdate{{i.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-content-demo">
                            <div class="modal-header">
                                <h6 class="modal-title">Kirimni o`zgartirish</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'dashboard:update_enter' i.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="quantity" value="{{i.quantity}}">
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Saqlash</button> 
                                <button class="btn btn-light" data-bs-dismiss="modal">Qaytish</button>
                            </form>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modaldelete{{i.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-content-demo">
                            <div class="modal-header">
                                <h6 class="modal-title">Maxsulotni o`chriish</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'dashboard:delete_enter' i.id %}" method="get">
                                    <label for="my_chkb">O`chirmoqchimisiz? </label>
                                    <input type="checkbox" required id="my_chkb">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">O`chrish</button> 
                                    <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- CONTAINER CLOSED -->

        </div>
    </div>
    <!--app-content close-->
    {% endblock %}