{%extends "dashboard/base.html" %}

{%block content%}
            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Lists of Admins</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
                                </ol>
                            </div>
                        </div>
                        <!-- PAGE-HEADER END -->

                        <!-- ROW-1 -->
                        <div class="row">
                            <div class='col-3'></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                                <div class="row">
                                   
                                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">List of admins</h3>
                                    </div>
                                    <div class="card-body">
                                        <a href="{% url 'dashboard:add_admin' %}"><button id="table2-new-row-button" class="col-12 btn btn-primary mb-4"> Add new Staff</button></a>
                                        <div class="table-responsive">
                                            <table class="table table-bordered border text-nowrap mb-0" id="new-edit">
                                                <thead>
                                                    <tr>
                                                        <th>Username</th>
                                                        <th>Active from</th>
                                                        <th>Status</th>
                                                    <th name="bstable-actions">Actions</th></tr>
                                                </thead>
                                                <tbody>
                                                    {%for admin in admins%}
                                                    <tr>
                                                    <td style="font-size: 18px;">{{admin.username}}</td>
                                                    <td style="font-size: 18px;">{{admin.date_joined}}</td>

                                                    {%if admin.is_staff == True and admin.is_superuser == True%}
                                                    <td style="font-size: 18px;">Owner</td>
                                                    {%elif admin.is_staff == True and admin.is_superuser == False%}
                                                    <td style="font-size: 18px;">Staff</td>
                                                    
                                                    {%endif%}

                                                    <td name="bstable-actions"><div class="btn-list"></div>
                                                        {%if admin.is_superuser != True%}
                                                        <a href="{% url 'dashboard:delete_admin' admin.slug %}"><button id="bDel" type="button" class="btn  btn btn-danger">
                                                            <span class="fe fe-trash-2"> Delete </span>
                                                        </button></a>
                                                        {%else%}
                                                        <button id="bDel" type="button" class="btn  btn btn-default">
                                                            <span class="fe fe-trash-2"> Delete </span>
                                                        </button>
                                                        {%endif%}

                                                        <button id="bAcep" type="button" class="btn  btn-sm btn-primary" style="display:none;">
                                                            <span class="fe fe-check-circle"> </span>
                                                        </button>
                                                        <button id="bCanc" type="button" class="btn  btn-sm btn-danger" style="display:none;">
                                                            <span class="fe fe-x-circle"> </span>
                                                        </button>
                                                    </div></td></tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW-1 END -->

                        <!-- ROW-2 -->
                        <div class="row">
                            <!-- COL END -->
                            <!-- COL END -->
                        </div>
                        <!-- ROW-2 END -->

                        <!-- ROW-3 -->

                        <!-- ROW-3 END -->

                        <!-- ROW-4 -->
                        <!-- ROW-4 END -->
                    </div>
                    <!-- CONTAINER END -->
                </div>
            </div>
            <!--app-content close-->
{%endblock%}